pyrogram>=2.0.30
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
shortzy
datetime
pytz
aiohttp
wget




TgCrypto
aiohttp
python-dotenv
requests

requests
wget
asyncio
datetime
aiofiles

aiohttp

opencc
telegraph

pytube
Python_ARQ
TgCrypto
bs4

Pillow
motor
dnspython
pymongo
umongo
psutil
NumPy
glitch_this
opencv-python-headless
pytz
pykeyboard
Python_ARQ
